<ul data-menu class="bg-white flex flex-col gap-6 p-12 z-30 fixed top-0 right-0 w-full h-screen max-w-lg transform transition duration-300 ease lg:hidden">
	<button data-toggle-menu class="lg:hidden">{{ include('templates/icons/cross.twig') }}</button>
	<div data-stagger-items class="mt-5 flex-grow flex flex-col">
		{% for item in menu.get_items %}
			<div data-mobile-menu-item class="space-y-1">
				<div class="flex items-center justify-between">
					<a href="{{ item.url }}" class="text-xl py-4">{{ item }}</a>
					{% if item.children %}
						<button data-toggle-mobile-sub-menu>Icon</button>
					{% endif %}
				</div>
				<!-- Expandable link section, show/hide based on state. -->
				{% if item.children %}
					<ul data-mobile-sub-menu class="space-y-1 hidden mt-5">
						{% for item in item.children %}
							<li>
								<a href="{{ item.url }}" class="group w-full flex items-center gap-3 pr-2 py-1">
									Icon
									{{ item }}
								</a>
							</li>
						{% endfor %}
					</ul>
				{% endif %}
			</div>
		{% endfor %}
	</div>
</ul>
