<section class="">
	<div class="container grid grid-cols-2 gap-y-12 xl:grid-cols-4 gap-4 text-navy">
		{% for item in block.image_item %}
			<div class="flex flex-col gap-4">
				{% if item.subtitle %}
					<div class="flex flex-row flex-wrap gap-y-1 justify-between gap-4 items-end">
						<p class="is-supertitle">
							{{ item.subtitle }}
						</p>
						<p class="is-supertitle">
							{{ item.date|date('M') }}
						</p>
						<p class="is-supertitle">
							{{ item.date|date('Y') }}
						</p>
					</div>
				{% endif %}
				<div class="image-container relative overflow-hidden rounded-md bg-darkBlue {{
					loop.index % 2 == 0
						? 'aspect-square'
						: 'aspect-3/4'
					}}">
					{% if item.image %}
						<img src="{{ get_image(item.image).src }}"
							alt="{{ item.image.alt }}"
							class="absolute inset-0 w-full h-full object-cover" />
					{% endif %}
				</div>
			</div>
		{% endfor %}
	</div>
</section>
