<section class="flex flex-col overflow-hidden relative z-40">
	<div class="container flex flex-col gap-8">
		<div id="home-swiper-trigger" class="w-full 4xl:w-3/4 self-end relative z-40">
			<div class="flex w-full">
				<div id="news-swiper-container" class="swiper !overflow-visible w-full">
					<div class="swiper-wrapper">
						{% for image_slide in block.image %}
							<div class="swiper-slide">
								<article class="flex flex-col gap-4">
									{% if image_slide.title %}
										<div class="flex flex-row flex-wrap gap-y-1 justify-between gap-4 items-end">
											<p class="is-supertitle">
												{{ image_slide.title }}
											</p>
											<p class="is-supertitle">
												{{ image_slide.date|date('M') }}
											</p>
											<p class="is-supertitle">
												{{ image_slide.date|date('Y') }}
											</p>
										</div>
									{% endif %}
									<img src="{{ get_image(image_slide.image).src }}"
										alt="{{ image_slide.image.alt }}"
										class="w-full object-cover aspect-3/4" />
								</article>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
