<!DOCTYPE html>
<!-- [if lt IE 9]><html class="no-js no-svg ie lt-ie9 lt-ie8 lt-ie7" {{ site.language_attributes }}> <![endif] -->
<!-- [if IE 9]><html class="no-js no-svg ie ie9 lt-ie9 lt-ie8" {{ site.language_attributes }}> <![endif] -->
<!-- [if gt IE 9]><! -->
	<html
	class="no-js no-svg" {{ site.language_attributes }}> <!-- <![endif] -->
	{% block html_head_container %}
		{% include 'html-header.twig' %}
	{% endblock %}

	<body class="{{ body_class }} min-h-screen" data-template="base.twig">
		<a class="sr-only skip-link screen-reader-text" href="#page-content">{{ _e('Skip to content') }}</a>

		{% block header %}
			{% include 'partials/header.twig' %}
		{% endblock %}

		<main id="page-content">
			{% block content %}
				<section class="relative">
					<div class="container">
						<h2>Content coming soon...</h2>
					</div>
				</section>
			{% endblock %}
		</main>
		{% block footer %}
			{% include 'footer.twig' %}

			{{ function('wp_footer') }}
		{% endblock %}

		{# Extend this to add custom scripts to just one page/block #}
		{% block scripts %}{% endblock %}
	</body>
</html>
