<!DOCTYPE html>
<!-- [if lt IE 9]><html class="no-js no-svg ie lt-ie9 lt-ie8 lt-ie7" {{ site.language_attributes }}> <![endif] -->
<!-- [if IE 9]><html class="no-js no-svg ie ie9 lt-ie9 lt-ie8" {{ site.language_attributes }}> <![endif] -->
<!-- [if gt IE 9]><! -->
<html class="no-js no-svg" {{ site.language_attributes }}>
	<!-- <![endif] -->
	{% block html_head_container %}
		{% include 'html-header.twig' %}
	{% endblock %}

	<body class="{{ body_class }} min-h-screen" data-template="base.twig">
		<a class="sr-only skip-link screen-reader-text" href="#page-content">{{ _e('Skip to content') }}</a>

		{% block header %}
			{% include 'partials/header.twig' %}
		{% endblock %}

		{% include 'partials/mouse-follower.twig' %}
		<main id="page-content" class="text-black">
			{% block content %}
			{% endblock %}
		</main>

		{% block footer %}
			{% include 'footer.twig' %}
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>
