{% extends 'page.twig' %}
{% block content %}
	{% set length = post.services|length %}
	<div id="entire-page" class="flex flex-col !py-0 dark-header dark-mouse">
		<section id="white-page" class="sticky top-0 left-0 h-lvh w-full pointer-events-none"></section>
		<section class="-mt-[100lvh] flex flex-col justify-center text-navy pt-24 pb-16 md:py-32">
			<div class="container flex flex-col gap-4 md:gap-12 items-center text-center relative z-40">
				<div split-type="chars" class="block-content relative w-fit">
					<div class="sm:*:text-[10vw]">
						{{ post.heading }}
					</div>
					<h6 class="is-superscript absolute left-full top-[15%] w-fit whitespace-nowrap">
						{{ length }}
					</h6>
				</div>
				<div class="flex flex-col gap-12">
					<div class="block-content block-intro max-w-[500px] 2xl:max-w-[700px] *:text-balance text-paragraphDark">
						{{ post.heading_content }}
					</div>
				</div>
			</div>
		</section>
		<section id="home-capabilities-trigger" class="min-h-lvh text-white pt-0 bg-navy">
			<div class="container flex flex-col gap-8 lg:gap-16 xl:gap-32 relative items-center">
				<div class="flex flex-col gap-4 sm:gap-8 xl:gap-16 relative z-40 max-w-[1900px] w-full"></div>

				<div id="service-scroll-container" class="flex flex-col items-center z-40 relative w-full">
					<div id="service-0"
						class="aspect-square p-8 w-1/2 md:w-1/3 xl:w-1/4 4xl:w-1/5 absolute top-[37.5lvh] left-1/2 -translate-y-1/2 -translate-x-1/2 z-40 pointer-events-none"></div>
					{% for service in post.services %}
						{% set subservices = service.subservice %}
						{% set length = subservices|length %}
						<a href="{{ service.link.url }}"
							id="service-text-{{ loop.index0 }}"
							class="min-h-[75lvh] flex items-center justify-center flex-col">
							<div class="capability-text opacity-25 relative">
								{{ service.title }}
								<h6 class="is-superscript absolute left-full top-1/4 w-fit whitespace-nowrap">
									(
									{{ length }}
									)
								</h6>
								<div class="flex flex-row items-center absolute left-0 top-full w-full overflow-hidden"
									style="mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent); -webkit-mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);">
									{% for _ in 1..3 %}
										<div class="infinite-scroll flex flex-row items-center shrink-0">
											{% for subservice in service.subservice %}
												<div class="shrink-0 ml-3 sm:ml-8">
													{{ subservice.title }}
												</div>
												<div class="size-2 bg-white rounded-[1px] shrink-0 ml-3 sm:ml-8"></div>
											{% endfor %}
										</div>
									{% endfor %}
								</div>
							</div>
						</a>
					{% endfor %}
				</div>
				<div class="relative z-40 pb-[25lvh]"></div>
			</div>
		</section>
	</div>
{% endblock %}
