{% set length = post.capabilities.services|length %}
<section id="home-capabilities-trigger" class="min-h-lvh text-white">
    <div class="container flex flex-col gap-8 lg:gap-16 xl:gap-32 relative items-center">
        <div class="flex flex-col gap-4 sm:gap-8 xl:gap-16 relative z-40 max-w-[1900px] w-full">
            <div split-type="chars" class="block-content relative w-fit">
                <h6 class="text-3xl absolute left-full top-1/4 w-fit whitespace-nowrap">
                    (
                    {{ length }}
                    )
                </h6>
                {{ post.capabilities.title }}
            </div>
            <div class="flex flex-row self-end">
                <div class="block-content max-w-[700px] xl:max-w-[1150px] indent-16 sm:indent-32">
                    {{ post.capabilities.content }}
                </div>
            </div>
        </div>

        <div id="service-scroll-container" class="flex flex-col items-center z-40 relative pb-[12.5lvh] w-full">
            <div id="service-0" class="aspect-square p-8 w-1/5 absolute top-[37.5lvh] left-1/2 -translate-y-1/2 -translate-x-1/2 z-40"></div>
            {% for service in post.capabilities.services %}
                <div id="service-text-{{ loop.index0 }}" class="min-h-[75lvh] flex items-center justify-center">
                    <div class="capability-text opacity-25 blur-[20px]">
                        {{ service.title }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
