<section id="home-capabilities-section" class="text-white !py-0">
	<div id="home-capabilities-container" class="sticky top-0 left-0 h-lvh w-full pointer-events-none"></div>
	<div class="container flex flex-col gap-8 lg:gap-16 xl:gap-32 relative items-center -mt-[100lvh]">
		<section class="flex flex-col min-h-lvh justify-between z-40 relative w-full">
			<div class="block-content relative w-fit max-w-[1200px]">
				<div class="supertitle text-paragraphLight flex flex-row items-center gap-2">
					<div class="size-2.5 bg-paragraphLight blink"></div>Our Capabilities
				</div>
				{{ post.capabilities.title }}
			</div>

			<div class="block-content max-w-[700px] xl:max-w-[550px] indent-16 text-paragraphLight text-pretty">
				{{ post.capabilities.content }}
			</div>
		</section>

		<div id="service-scroll-container" class="flex flex-col items-center z-40 relative w-full">
			{% for service in post.capabilities.services %}
				{% set subservices = service.subservice %}

				<a href="{{ service.link.url }}"
					id="service-text-{{ loop.index0 }}"
					class="min-h-lvh flex items-center justify-center flex-col max-w-[450px] w-full {{
					loop.index is odd
						? 'md:self-end mr-[5%]'
						: 'md:self-start ml-[5%]'
					}}">
					<div class="capability-text block-content">
						<div class="supertitle text-paragraphLight flex flex-row items-center gap-2">
							<div class="size-2.5 bg-paragraphLight blink"></div> {{ '0' ~ loop.index }}
						</div>
						{{ service.title }}

						<div class="block-content text-paragraphLight text-balance">
							{{ service.content }}
						</div>
						<div class="flex flex-row gap-2 flex-wrap">
							{% for subservice in service.subservice %}
								<div class="shrink-0 bg-white/10 backdrop-blur-md py-2 px-4 rounded-md">
									{{ subservice.title }}
								</div>
							{% endfor %}
						</div>
					</div>
				</a>
			{% endfor %}
		</div>
	</div>
</section>
