{% set length = (post.projects|length) + 2 %}

<section id="home-projects-inner" class="text-navy relative z-40 !py-0" style="height: {{ 100 * length ~ 'lvh' }}">
	<div id="home-projects-container" class="sticky top-0 left-0 h-lvh w-full pointer-events-none"></div>
	<div class="container flex flex-col items-center relative z-40 h-[50lvh] justify-center -mt-[100lvh]">
		<div class="project-title relative max-w-[800px] 4xl:max-w-[1000px] text-center items-center flex flex-col block-content">
			<div class="supertitle text-paragraphDark flex flex-row items-center gap-2">
				<div class="size-2.5 bg-paragraphDark blink"></div>In Focus
			</div>
			{{ post.projects.title }}
		</div>
	</div>
	<div class="container w-full flex flex-col relative z-40">
		{% for project in post.projects.projects %}
			<a href="{{ project.link }}"
				id="project-container-{{ loop.index }}"
				class="project-container flex flex-col gap-4 pointer-events-none sr-only top-0">
				<div class="image-container w-full aspect-3/4 relative">
					<img src="{{ get_image(project.project_thumbnail) }}"
						alt="Image of the project {{ project.title }}"
						class="sr-only" />
				</div>
				<div class="flex flex-col gap-1">
					<h4 project-grid-title class="is-h5">
						{{ project.title }}
					</h4>
					{% if project.featured_deliverable %}
						<div class="2xl:text-xl flex flex-col">
							<p project-grid-subtitle class="">
								{{ project.featured_deliverable.name }}
							</p>
						</div>
					{% endif %}
				</div>
			</a>
		{% endfor %}
	</div>
</section>
