<section id="home-projects-container" class="text-white !pb-0">
    <section id="home-projects-trigger" class="relative z-40 -mb-8 max-sm:pb-8 max-lg:pb-24 max-xl:pb-0">
        <div class="container project-text-container flex flex-col lg:items-center relative z-40">
            <div class="flex flex-col lg:items-center gap-4 sm:gap-8 lg:gap-16 relative z-40 w-fit">
                <div split-type="chars" class="block-content lg:text-center">
                    {{ post.projects.title }}
                </div>
                <div class="flex flex-row lg:ml-[10%] max-w-[475px] self-end">
                    <div class="max-sm:hidden">
                        {% include "partials/supertitle.twig" with { title: 'Work', class: 'text-white' } %}
                    </div>
                    <div class="block-content max-w-[1150px] indent-16 sm:-ml-12 ">
                        {{ post.projects.content }}
                        {% include "partials/button.twig" with { title: post.projects.link.title , link: post.projects.link.url, class: 'text-white' } %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div id="home-projects-scroller" style="--height:{{ post.projects.projects|length * 100 }}lvh;" class="w-full h-[--height]">
        <div id="home-projects" class="min-h-lvh w-full z-40 will-change-transform sticky top-0 left-0">
            <div class="container grid grid-cols-1 lg:grid-cols-3 gap-8 absolute top-0 left-0 w-full h-full overflow-hidden">
                <div class="col-span-1 flex justify-end items-center gap-6 max-lg:hidden">
                    <div class="flex gap-4 items-center">
                        <div class="size-2 bg-white rounded-[1px]"></div>
                        <div data-project-type-container class="flex flex-col relative overflow-hidden">
                            {% for project in post.projects.projects %}
                                {% set first_term = project.terms('project-type')|first %}
                                {% if first_term %}
                                    <div data-project-type class="is-h7 absolute left-0 top-0 whitespace-nowrap {{ loop.index0 == 0 ?: 'opacity-0' }}">
                                        {{ first_term.title }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    {% include "icons/straight-arrow.twig" with { class: 'size-4' } %}
                    <div data-project-number-container class="flex flex-col gap-6 overflow-hidden relative">
                        <div class="bg-gradient-to-b from-black to-black/0 w-full h-8 absolute top-0 left-0 z-10"></div>
                        {% for _ in post.projects.projects %}
                            <span data-project-number class="is-supertitle {{ loop.index0 == 0 ? 'opacity-100' : 'opacity-25' }}">
                                {{ 0 ~ loop.index }}
                            </span>
                        {% endfor %}
                        <div class="bg-gradient-to-t from-black to-black/0 w-full h-8 absolute bottom-0 left-0 z-10"></div>
                    </div>
                </div>
                <div class="col-span-1 lg:col-start-3 relative max-lg:absolute max-lg:bottom-0 max-lg:left-0 max-lg:bg-gradient-to-t max-lg:from-black max-lg:to-black/0 w-full z-40 h-full">
                    {% for project in post.projects.projects %}
                        <div class="project-text flex flex-col gap-4 absolute max-lg:bottom-16 lg:top-1/2 lg:-translate-y-1/2 left-4 md:left-8 lg:left-0 max-w-[calc(100vw-4rem)] {{ loop.index0 == 0 ? 'pointer-events-auto' : 'pointer-events-none' }}" data-project="{{ loop.index0 }}">
                            <h4 data-project-title class="is-h6">
                                {{ project.title }}
                            </h4>

                            <div data-project-content class="block-content max-w-[400px] mb-2">
                                {{ project.introduction }}
                            </div>
                            <div class="overflow-hidden">
                                <div data-project-link>
                                    {% include "partials/button.twig" with { title: 'View Project' , link: project.link, class: 'text-white' } %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% for project in post.projects.projects %}
                <img src="{{ get_image(project.project_thumbnail) }}" alt="Image of the project {{ project.title }}" class="sr-only three-project-images" />
            {% endfor %}
        </div>
    </div>
</section>
