<a href="{{ link }}"
	target="{{ target }}"
	class="button__small flex flex-row items-center justify-start gap-3 text-white w-fit text-base group {{ class }}">
	<div class="relative flex justify-start text-left">
		<div class="relative w-fit overflow-hidden">
			<div class="button__text indent-0">
				{{ title }}
			</div>
			<div class="button__text absolute top-full left-0 w-full">
				{{ title }}
			</div>
		</div>
	</div>
	<div class="button__icon-container size-5 bg-white flex items-center justify-center rounded-sm relative overflow-hidden">
		{% include 'icons/button-arrow.twig' with {
			class: 'w-2.5 text-navy shrink-0 absolute top-1/2 -translate-y-1/2  -left-full group-hover:translate-x-[25px] duration-[400ms] ease-in-out'
		} %}
		{% include 'icons/button-arrow.twig' with {
			class: 'w-2.5 text-navy shrink-0 group-hover:translate-x-[25px] duration-[400ms] ease-in-out'
		} %}
	</div>
</a>
